<%- include('./partials/head')%>
<header>
    <nav class="navbar">
        <ul>
            <li><a href="https://www.youtube.com/">Vraag</a></li>
            <li><a href="https://www.youtube.com/">Vraag</a></li>
            <li><a href="https://www.youtube.com/">Vraag</a></li>
            <li><a href="https://www.youtube.com/">Vraag</a></li>
            <li><a href="https://www.youtube.com/">Vraag</a></li>
        </ul>
    </nav>
</header>

<%- include('./partials/foot')%>